<%- include('header') -%>
<%- include('navbar') -%>
<%- include('footer') -%>

<div class="mx-auto" style="width:300px;">
    <h2>Nuestra Historia</h2>
</div>


<div class="row mt-3">

    <div class="col col-md-5">
        <div class="card">
            <div class="card-body">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo facere amet, illum repellat perferendis
                    pariatur autem aperiam, quisquam ea excepturi eum hic minima. Ad ipsa maxime deleniti perspiciatis
                    modi aliquam?</p>
            </div>
        </div>
    </div>

    <div class="col col-md-2 text-center">
        <button class="btn btn-success">
            1989
        </button>
    </div>

</div>



<div class="row mt-3">

    <div class="col col-md-5">
    </div>

    <div class="col col-md-2 text-center">
        <button class="btn btn-primary">
            1994
        </button>
    </div>

    <div class="col col-md-5">
        <div class="card">
            <div class="card-body">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo facere amet, illum repellat perferendis
                    pariatur autem aperiam, quisquam ea excepturi eum hic minima. Ad ipsa maxime deleniti perspiciatis
                    modi aliquam?</p>
            </div>
        </div>
    </div>

    <div class="row mt-3">

        <div class="col col-md-5">
            <div class="card">
                <div class="card-body">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo facere amet, illum repellat
                        perferendis pariatur autem aperiam, quisquam ea excepturi eum hic minima. Ad ipsa maxime
                        deleniti perspiciatis modi aliquam?</p>
                </div>
            </div>
        </div>

        <div class="col col-md-2 text-center">
            <button class="btn btn-success">
                1999
            </button>
        </div>
    </div>
    <div class="row mt-3">

        <div class="col col-md-5">
        </div>
    
        <div class="col col-md-2 text-center">
            <button class="btn btn-primary">
                2004
            </button>
        </div>
    
        <div class="col col-md-5">
            <div class="card">
                <div class="card-body">
                    <img src="img/nuestrahistoria/1.jpeg" width="130" style="float:left; margin-right:4px">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo facere amet, illum repellat perferendis
                        pariatur autem aperiam, quisquam ea excepturi eum hic minima. Ad ipsa maxime deleniti perspiciatis
                        modi aliquam?</p>
                </div>
            </div>
        
        </div>
    
        <p style="height: 4oopx;"></p>
        <%- include('pie') -%>

    




    
    





